.about-wrapper{
    padding: 5rem 12.5rem;
    max-width: 100%;
}

.about-card{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-24PX, 1.5rem);
    border-radius: 0.3125rem;
    background: var(--base-white, #FFF);
    h2{
        color: var(--slate-900, #0F172A);
        align-self: stretch;
        text-align: center;
        /* H2 */
        font-family: Urbanist;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 4.2rem */
        letter-spacing: -0.0225rem;
    }
    p{
        color: var(--p, rgba(15, 23, 42, 0.75));
        /* PARAGRAPH/p-m-16pt */
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.5rem */
    }
}

@media screen and (max-width: 1200px) {
    .about-wrapper{
        padding: 5rem 5rem;
    }
}

@media screen and (max-width: 600px) {
    .about-wrapper{
        padding: 5rem 1rem;
    }
}