.offerPage-imgtext{
    display: flex;
    padding: 5rem 12.5rem;
    align-items: center;
    gap: 4rem;
    background-color: #fff;
    img {
        background-color: rgba(210, 210, 210, 0.20);
        display: flex;
        width: 43.125rem;
        height: 19.25rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 1280px) {
    .offerPage-imgtext{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 800px) {
    .offerPage-imgtext{
        padding: 5rem 5rem;
        img {
            background-color: rgba(210, 210, 210, 0.20);
            display: flex;
            width: 20rem;
            height: 100%;
            object-fit: contain;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}