.slider-section {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 12.5rem;
  width: 100%;
  background-color: #fff;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.slider-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-prev{
    width: 48px;
    height: auto;
    left: -50px;
    &::before{
        font-size: 48px;
        color: #f80;
        border: none;
    }
}

.slick-next{
    width: 48px;
    height: auto;
    right: -50px;
    &::before{
        font-size: 48px;
        color: #f80;
        border: none;
    }
}


@media screen and (max-width: 1200px) {
  .slider-section {
    padding: 5rem 5rem;
  }
}
@media screen and (max-width: 600px) {
  .slider-section {
    padding: 5rem 1rem;
  }
}
